# Node
backend/node_modules/
backend/.env
backend/uploads/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/local.properties
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/.metadata

# OS
.DS_Store
Thumbs.db
*.log
